extends base.pug
include mixins/video

block link
    nav
        ul 
            li 
                a(href="/videos/upload") Upload Video
block content
    ul
        each video in videos
            +video(video)
        else 
            li Sorry nothing Found.