header
    a(href="/").header__logo
        i.fab.fa-youtube WebTube
    nav
        ul 
            li
                a(href="/search")
                    i.fas.fa-search
            if loggedIn
                li 
                    a(href="/videos/upload") Upload Video
                li
                 a(href=`/users/${loggedInUser._id}`)
                    if loggedInUser.avatarUrl === ""
                        span 😀
                    else 
                        if loggedInUser.socialOnly.includes("github")
                            img(src=loggedInUser.avatarUrl, width="100", height="100").header__avatar
                        else
                            img(src="/"+loggedInUser.avatarUrl, width="100", height="100").header__avatar
                li 
                    a(href="/users/edit") Edit Profile
                li 
                    a(href="/users/logout") Log out
            else
                if pageTitle !== "Login"
                        li 
                            a(href="/login") Login
                if pageTitle !== "Join"
                        li
                            a(href="/join").header__btn  Join                    