extends ../base

block content
    span=errorMessage
    form(method="post")
        input(placeholder ="Old Password",type="password", name="oldPw") 
        input(placeholder ="New Password",type="password", name="newPw") 
        input(placeholder ="New Password Confirmation",type="password", name="newPwConfirm")
        input(type="submit", value="Change Password") 